In [ ]:
# 문제 1 다음 값은 어떤 값이 출력되는지 이유를 설명하세요.
# 문제 1.1 다음 값은 어떤 값이 출력되는지 이유를 설명하세요.
'hello' and 1
# 출력 1
# 정답 :  a and b 연산에서 a가 거짓으로 평가되면 b는 평가되지 않고 출력된다.

30

In [ ]:
# 문제 1.2 다음 값은 어떤 값이 출력되는지 이유를 설명하세요.
10 or 'hello world'
# 출력 10
# 정답 : a or b 연산에서 a가 참으로 평가되면 b는 평가되지 않고 출력된다.

10

In [ ]:
# 문제 2 아래 dict에 'three' key를 이용하여 '3'라는 값을 출력해주세요.
#         없을 경우 애러가 나는 것이 아니라 '3'이라는 값을 출력해야 합니다.
d = {'one': 1, 'two': 2}
# 정답
d.setdefault('three', '3')

'3'

In [ ]:
# 문제 3 다음 리스트에서 100은 어떻게 꺼낼 수 있나요?
l = [1, [10, 20], [3, [100, 200], 5]]
# 정답
l[2][1][0]

100

In [ ]:
# 문제 4 아래 숫자를 모두 더해주세요.
l = [[1, 2], [3, 4]]
# 정답
sum(sum(l,[]))

10

In [ ]:
# 문제 5 (난이도 있는 문제) filter를 사용하여 아래 리스트에서 짝수를 모두 더하는 코드를 작성해주세요.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 정답
def f(x):
    return x % 2 == 0

sum(filter(f, l)) # 출력 30

30