# 1. 논리연산

In [ ]:
# 예시

def test1():
    print("test1 함수 호출!")
    return False

def test2():
    print("test2 함수 호출!")
    return True
# 가장 많이 걸러지는 조건을 맨 앞에 두어야 리소스를 줄일 수 있다.
result = test1() and test2()
print(result) # 결과: False

test1 함수 호출!
False

# 2. 할당 연산자

In [ ]:
# 할당 연산
x = 5
y = 2
z = 10

x1 = y * z # 20 = 2 * 10
x2 = x + (y *z) # 25 = 5 + (2 * 10)
x += y * z  # y * z 연산 후 x에 값을 더한 뒤에 할당합니다. # 복리계산에 많이 활용됨
print(x1)
print(x2)
print(x)  # 결과: 25

20
25
25

In [ ]:
# 할당 연산 퀴즈

# 문제 1.
a = 10
a -= 5
print(a)

# 문제 2.
a = 3
a *= 2 + 4
print(a)

# 문제 3.
a = 2
a **= 3
print(a)

5
18
8

# 3. 식별연산

In [ ]:
# 1. 동일 인물 확인

coffee_employee = "bread"
orange_employee = "bread"

print(coffee_employee is orange_employee) # 주소가 같은지
print(coffee_employee == orange_employee) # 실제 값이 같은지

True
True

In [ ]:
# 2. 예제 2

a = [1, 2, 3]
b = [1, 2, 3]
c = a # 리스트 형인 [1, 2, 3] 다만 a에 있는 것을 재할당

print('a == b', a == b)
print('a == c', a == c)
print('c == b', c == b)
print('a is b', a is b)
print('a is c', a is c)
print('c is b', c is b)
print(id(a), id(b), id(c))

a == b True
a == c True
c == b True
a is b False
a is c True
c is b False
134314909609920 134314911552896 134314909609920

# 4. 멤버연산

In [ ]:
# 기본 예시

a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
c = 'hello world'
a1 = [1, [2], 3, 4]

print(1 in a) # 출력: True
print(0 not in a) # 출력: True
print([2] in b) # 출력: False # 자료형태를 잘 파악해 in을 사용해야 된다.
print([2] in a1) #출력: True
print([1, 2] in b) # 출력: False
print('h' in c) # 출력: True
print('hello ' in c) # 출력: True

True
True
False
True
False
True
True

# 5. 연산자 우선

In [ ]:
# 연습

print(-2 ** 2)
print((True * True) and (True + False))

-4
1

In [ ]:
# 멤버연산 및 연산자 우선 퀴즈

# 문제 1
fruits = ['사과', '바나나', '포도']
print("체리" not in fruits)

# 문제 2
greeting = "안녕하세요"
print("안녕" in greeting)

# 문제 3
result = 2+ 3 * 4
print(result)

# 문제 4
result = 10 / 2 * 4 - 3
print(result)

# 문제 5
result = 2 ** 3 * 3 + 4 / 2 - 5
print(result)

True
True
14
17.0
21.0

# 6. 연습문제

In [ ]:
# 1번 문제
a = 100
print((a > 100) and (a < 200)) # False
print((a > 100) or (a < 200)) # True
print((a >= 100) and (a <= 200)) # True
print((a >= 100) or (a <= 200)) # True

# 2번 문제
b = 25
print((b % 2 ==0) and (b % 5 == 0)) # False

# 3번 문제
# 변수 c 안에 들어있는 가격을 100원짜리 몇개로 거슬러 줄 수 있는지 출력해주세요
c = 1000
print(c//100) # 결과값은 10입니다.

False
True
True
True
False
10
금액을 입력해주세요:10000

TypeError: ignored

In [ ]:
# 4번 문제
# (심화문제) 입력한 금액을 5000원, 1000원, 500원, 100원으로 교환하는 프로그램을 만들어주세요.
# 1. 금액을 입력 받는다.
# 2. 5000부터 100까지 거스름돈을 어떻게 줄지 생각해본다.
# 3. 결론적으로 모든 거스름돈을 출력해서 거슬러준다.

# 금액을 입력 받는 코드
money = int(input('금액을 입력하세요'))
print(money)

금액을 입력하세요18550
18550

In [ ]:
num_5000 = money // 5000
print(num_5000)

3

In [ ]:
money -= (num_5000 * 5000)
print(money)

3550

In [ ]:
num_1000 = money // 1000
print(num_1000)

3

In [ ]:
money -= (num_1000 * 1000)
print(money)

550

In [ ]:
num_500 = money // 500
print(num_500)

1

In [ ]:
# 5번 문제
# 제품의 원가와 할인율 입력 받기
original_price = float(input('원가를 입력해주세요')) # input -> 문자열 계산을 위해서 소수형/정수형
discount_rate = float(input('할인율을 입력해주세요'))

원가를 입력해주세요10000
할인율을 입력해주세요10

In [ ]:
print(original_price, discount_rate)

10000.0 10.0

In [ ]:
# 할인된 가격 계산
discouted_price = original_price - (original_price * discount_rate / 100)
# 10000.0 - (10000.0 * 10.0 / 100 -> 0.1) -> (1000.0)

In [ ]:
# 결과 출력
print(int(discouted_price))

9000

# 실습 3
사용자 입력 받기:
input() 함수를 사용하여 사용자의 이름과 나이를 입력받습니다.

문자열을 숫자로 변환:
입력받은 나이(문자열)를 int() 함수를 사용하여 정수로 변환합니다.

산술 연산 수행:
변환된 나이에 1을 더하여 다음 해의 나이를 계산합니다.

문자열 길이 계산:
len() 함수를 사용하여 사용자 이름의 길이를 계산합니다.

성인 여부 판단:
나이를 기준으로 성인 여부를 판단하여 불리언 값으로 표시합니다. (예: 18세 이상이면 True, 그렇지 않으면 False)

결과 출력:
계산된 나이, 이름의 길이, 성인 여부를 print() 함수를 사용하여 출력합니다.

In [ ]:
# 사용자 입력 받기
user_name = input('이름을 입력해주세요: ')
user_age = int(input('나이를 입력해주세요: '))

이름을 입력해주세요: 임빈
나이를 입력해주세요: 33

In [ ]:
# 내년 나이
next_year_age = user_age + 1
print(next_year_age)

34

In [ ]:
# 이름의 길이 확인
name_len = len(user_name)
print(name_len)

2

In [ ]:
# 성인 여부 확인
is_adult = bool(user_age >= 18)
print(is_adult)

True

In [ ]:
print(f'제 이름은 {user_name}입니다.')
print(f'내년 나이는 {next_year_age}입니다.')
print(f'이름의 길이는 {name_len}')
print(f'성인이 맞습니까? {is_adult}')

제 이름은 임빈입니다.
내년 나이는 34입니다.
이름의 길이는 2
성인이 맞습니까? True