# 문제 1 문자 반복 출력하기

* 문제 설명\
문자열 my_string과 정수 n이 매개변수로 주어질 때, my_string에 들어있는 각 문자를 n만큼 반복한 문자열을 return 하도록 solution 함수를 완성해보세요.

제한사항\
2 ≤ my_string 길이 ≤ 5\
2 ≤ n ≤ 10\
"my_string"은 영어 대소문자로 이루어져 있습니다.

```
입출력 예
my_string	n	result
"hello"  	3	"hhheeellllllooo"
```

In [ ]:
def solution(my_string, n):
    l = []
    for i in my_string:
        i = i * n
        l.append(i)
    answer = ''.join(l)
    return answer

my_string = "hello"
solution(my_string, 3)

'hhheeellllllooo'

In [ ]:
def solution(my_string, n):
    return ''.join(i*n for i in my_string)

my_string = "hello"
solution(my_string, 3)

'hhheeellllllooo'

# 문제 2 양꼬치

* 문제 설명\
머쓱이네 양꼬치 가게는 10인분을 먹으면 음료수 하나를 서비스로 줍니다. 양꼬치는 1인분에 12,000원, 음료수는 2,000원입니다. 정수 n과 k가 매개변수로 주어졌을 때, 양꼬치 n인분과 음료수 k개를 먹었다면 총얼마를 지불해야 하는지 return 하도록 solution 함수를 완성해보세요.

* 제한사항\
0 < n < 1,000\
n / 10 ≤ k < 1,000\
서비스로 받은 음료수는 모두 마십니다.

```
입출력 예
n	 k	result
10	3	124,000
64	6	768,000
```

In [ ]:
def solution(n, k):
    if n / 10 >= 1:
        return n * 12000 + k * 2000 - (int(n / 10) * 2000)
    else:
        return n * 12000 + k * 2000

solution(64, 6)

768000

In [ ]:
def solution(n, k):
    return 12000 * n + 2000 * (k - n // 10)

solution(64, 6)

768000

# 문제 3 세균증식

* 문제 설명\
어떤 세균은 1시간에 두배만큼 증식한다고 합니다. 처음 세균의 마리수 n과 경과한 시간 t가 매개변수로 주어질 때 t시간 후 세균의 수를 return하도록 solution 함수를 완성해주세요.

* 제한사항\
1 ≤ n ≤ 10\
1 ≤ t ≤ 15

```
입출력 예
n	t	result
2	10	2048
7	15	229,376
```

In [15]:
def solution(n, t):
    i = 1
    while i <= t:
        n = n * 2
        i += 1
    return n


solution(7, 15)

229376

In [17]:
def solution(n, t):
    answer = 2**t * n
    return answer

solution(7, 15)

229376

In [18]:
# 비트 연산 활용
def solution(n, t):
    return n << t


solution(7, 15)

229376

# 문제 4 문자열 안에 문자열

* 문제 설명\
문자열 str1, str2가 매개변수로 주어집니다. str1 안에 str2가 있다면 1을 없다면 2를 return하도록 solution 함수를 완성해주세요.

* 제한사항\
1 ≤ str1의 길이 ≤ 100\
1 ≤ str2의 길이 ≤ 100\
문자열은 알파벳 대문자, 소문자, 숫자로 구성되어 있습니다.

```
입출력 예
str1	                    str2	result
"ab6CDE443fgh22iJKlmn1o"	"6CD"	 1
"ppprrrogrammers"	       "pppp"	2
"AbcAbcA"	               "AAA" 	2
```

In [21]:
def solution(str1, str2):
    if str1.find(str2) >= 0:
        return 1
    else:
        return 2

solution("ab6CDE443fgh22iJKlmn1o", "6CD")
solution("ppprrrogrammers", "pppp")

2

In [22]:
def solution(str1, str2):
    return 1 if str2 in str1 else 2

solution("ab6CDE443fgh22iJKlmn1o", "6CD")

1

# 문제 5 편지

* 문제 설명\
머쓱이는 할머니께 생신 축하 편지를 쓰려고 합니다. 할머니가 보시기 편하도록 글자 한 자 한 자를 가로 2cm 크기로 적으려고 하며, 편지를 가로로만 적을 때, 축하 문구 message를 적기 위해 필요한 편지지의 최소 가로길이를 return 하도록 solution 함수를 완성해주세요.

*제한사항\
공백도 하나의 문자로 취급합니다.\
1 ≤ message의 길이 ≤ 50\
편지지의 여백은 생각하지 않습니다.\
message는 영문 알파벳 대소문자, ‘!’, ‘~’ 또는 공백으로만 이루어져 있습니다.

```
입출력 예
message           	result
"happy birthday!"	  30
"I love you~"      	22
```

In [23]:
def solution(message):
    answer = len(message.strip()) * 2
    return answer

solution("happy birthday!")

30

# 문제 6 배열 두배 만들기

* 문제 설명
정수 배열 numbers가 매개변수로 주어집니다. numbers의 각 원소에 두배한 원소를 가진 배열을 return하도록 solution 함수를 완성해주세요.

* 제한사항\
-10,000 ≤ numbers의 원소 ≤ 10,000\
1 ≤ numbers의 길이 ≤ 1,000

```
입출력 예
numbers	                       result
[1, 2, 3, 4, 5]	           [2, 4, 6, 8, 10]
[1, 2, 100, -99, 1, 2, 3]	 [2, 4, 200, -198, 2, 4, 6]
```

In [25]:
def solution(numbers):
    answer = [i * 2 for i in numbers]
    return answer

solution([1, 2, 3, 4, 5])

[2, 4, 6, 8, 10]

# 문제 7 아이스 아메리카노

* 문제 설명\
머쓱이는 추운 날에도 아이스 아메리카노만 마십니다. 아이스 아메리카노는 한잔에 5,500원입니다. 머쓱이가 가지고 있는 돈 money가 매개변수로 주어질 때, 머쓱이가 최대로 마실 수 있는 아메리카노의 잔 수와 남는 돈을 순서대로 담은 배열을 return 하도록 solution 함수를 완성해보세요.

* 제한사항\
0 < money ≤ 1,000,000

```
입출력 예
money	 result
5,500	 [1, 0]
15,000	[2, 4000]
```

In [27]:
def solution(money):
    answer = [money // 5500, money % 5500]
    return answer

solution(15000)

[2, 4000]

In [28]:
def solution(money):
    a,b = divmod(money,5500) # divmod - 두 개의 숫자를 인자로 받아 몫과 나머지를 반환
    return [a,b]

solution(15000)

[2, 4000]