# 문제1 몫 구하기

* 문제 설명\
정수 num1, num2가 매개변수로 주어질 때, num1을 num2로 나눈 몫을 return 하도록 solution 함수를 완성해주세요.

* 제한사항\
0 < num1 ≤ 100\
0 < num2 ≤ 100

```
# 입출력 예
num1	num2	result
10	    5	   2
7	     2	   3
```

In [1]:
def solution(num1, num2):
    answer = num1 // num2
    return answer

solution(10, 5)

2

# 문제 2 나이 출력

* 문제 설명\
머쓱이는 40살인 선생님이 몇 년도에 태어났는지 궁금해졌습니다. 나이 age가 주어질 때, 2022년을 기준 출생 연도를 return 하는 solution 함수를 완성해주세요.

* 제한사항\
0 < age ≤ 120\
나이는 태어난 연도에 1살이며 1년마다 1씩 증가합니다.

```
# 입출력 예
age	result
40	  1983
23	  2000
```

In [5]:
def solution(age):
    answer = 2022 - age +1
    return answer

solution(23)

2000

# 문제 3 두 수의 나눗셈

* 문제 설명\
정수 num1과 num2가 매개변수로 주어질 때, num1을 num2로 나눈 값에 1,000을 곱한 후 정수 부분을 return 하도록 soltuion 함수를 완성해주세요.

* 제한사항\
0 < num1 ≤ 100\
0 < num2 ≤ 100

```
입출력 예
num1	num2	result
3	    2	   1500
7	    3	   2333
1	   16	    62
```

In [7]:
def solution(num1, num2):
    answer = int(num1 / num2 * 1000)
    return answer

solution(1, 16)

62

# 문제 4 각도기

* 문제 설명\
각에서 0도 초과 90도 미만은 예각, 90도는 직각, 90도 초과 180도 미만은 둔각 180도는 평각으로 분류합니다. 각 angle이 매개변수로 주어질 때 예각일 때 1, 직각일 때 2, 둔각일 때 3, 평각일 때 4를 return하도록 solution 함수를 완성해주세요.

  * 예각 : 0 < angle < 90
  * 직각 : angle = 90
  * 둔각 : 90 < angle < 180
  * 평각 : angle = 180

*제한사항\
0 < angle ≤ 180\
angle은 정수입니다.

```
입출력 예
angle	result
70	     1
91	     3
180	    4
```

In [9]:
def solution(angle):
    if 0 < angle < 90:
        return 1
    elif angle == 90:
        return 2
    elif 90 < angle < 180:
        return 3
    elif angle == 180:
        return 4

solution(180)

4

# 문제 5 짝수의 합

* 문제 설명\
정수 n이 주어질 때, n이하의 짝수를 모두 더한 값을 return 하도록 solution 함수를 작성해주세요.

* 제한사항\
0 < n ≤ 1000

```
입출력 예
n	result
10	30
4	  6
```

In [11]:
def solution(n):
    answer = sum(filter(lambda x: x % 2 == 0, range(n+1)))
    return answer

solution(10)

30

# 문제 6 배열의 평균값

* 문제 설명\
정수 배열 numbers가 매개변수로 주어집니다. numbers의 원소의 평균값을 return하도록 solution 함수를 완성해주세요.

* 제한사항\
0 ≤ numbers의 원소 ≤ 1,000\
1 ≤ numbers의 길이 ≤ 100\
정답의 소수 부분이 .0 또는 .5인 경우만 입력으로 주어집니다.

```
입출력 예
numbers	                                       result
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]                 	5.5
[89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]   	94.0
```

In [13]:
def solution(numbers):
    answer = sum(numbers) / len(numbers)
    return answer

numbers = [89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
solution(numbers)

94.0

# 문제 7 배열 자르기

* 문제 설명\
정수 배열 numbers와 정수 num1, num2가 매개변수로 주어질 때, numbers의 num1번 째 인덱스부터 num2번째 인덱스까지 자른 정수 배열을 return 하도록 solution 함수를 완성해보세요.

* 제한사항\
2 ≤ numbers의 길이 ≤ 30\
0 ≤ numbers의 원소 ≤ 1,000\
0 ≤num1 < num2 < numbers의 길이

```
입출력 예
numbers	       num1	  num2	   result
[1, 2, 3, 4, 5]	1	     3	    [2, 3, 4]
[1, 3, 5]	      1         2	     [3, 5]
```

In [17]:
def solution(numbers, num1, num2):
    answer = numbers[num1:num2+1]
    return answer


solution([1, 2, 3, 4, 5], 1, 3)

[2, 3, 4]

# 문제 8 삼각형의 완성조건 1

* 문제 설명\
선분 세 개로 삼각형을 만들기 위해서는 다음과 같은 조건을 만족해야 합니다.

  * 가장 긴 변의 길이는 다른 두 변의 길이의 합보다 작아야 합니다.

 삼각형의 세 변의 길이가 담긴 배열 sides이 매개변수로 주어집니다. 세 변으로 삼각형을 만들 수 있다면 1, 만들 수 없다면 2를 return하도록 solution 함수를 완성해주세요.

* 제한사항\
sides의 원소는 자연수입니다.\
sides의 길이는 3입니다.\
1 ≤ sides의 원소 ≤ 1,000

```
입출력 예
sides	        result
[1, 2, 3]	      2
[3, 6, 2]	      2
[199, 72, 222]     1
```

In [44]:
def solution(sides):
    sides_max = max(sides)
    sides_sum = sum(sides) - max(sides)
    if sides_max < sides_sum:
        return 1
    else:
        return 2

sides = [199, 72, 222]
solution(sides)

1

In [46]:
def solution(sides):
    return 1 if max(sides) < (sum(sides) - max(sides)) else 2

sides = [3, 6, 2]
solution(sides)

2

# 문제 9 짝수는 싫어요

* 문제 설명\
정수 n이 매개변수로 주어질 때, n 이하의 홀수가 오름차순으로 담긴 배열을 return하도록 solution 함수를 완성해주세요.

* 제한사항\
1 ≤ n ≤ 100

```
n	result
10	[1, 3, 5, 7, 9]
15	[1, 3, 5, 7, 9, 11, 13, 15]
```

In [51]:
def solution(n):
    answer = list(filter(lambda x: x % 2 != 0, range(n+1)))
    return answer

solution(15)

[1, 3, 5, 7, 9, 11, 13, 15]

In [54]:
def solution(n):
    return [x for x in range(n + 1) if x % 2]

solution(11)

[1, 3, 5, 7, 9, 11]

# 문제 10 배열 뒤집기

* 문제 설명\
정수가 들어 있는 배열 num_list가 매개변수로 주어집니다. num_list의 원소의 순서를 거꾸로 뒤집은 배열을 return하도록 solution 함수를 완성해주세요.

* 제한사항\
1 ≤ num_list의 길이 ≤ 1,000\
0 ≤ num_list의 원소 ≤ 1,000

```
입출력 예
num_list	                    result
[1, 2, 3, 4, 5]	         [5, 4, 3, 2, 1]
[1, 1, 1, 1, 1, 2]	      [2, 1, 1, 1, 1, 1]
[1, 0, 1, 1, 1, 3, 5]	   [5, 3, 1, 1, 1, 0, 1]
```

In [68]:
def solution(num_list):
    answer = []
    for i in num_list[::-1]:
        answer.append(i)
    return answer

num_list = [1, 2, 3, 4, 5]
solution(num_list)

[5, 4, 3, 2, 1]

In [69]:
def solution(num_list):
    num_list.reverse()
    return num_list

num_list = [1, 2, 3, 4, 5]
solution(num_list)

[5, 4, 3, 2, 1]