# 문제1 모음제거

* 문제 설명\
영어에선 a, e, i, o, u 다섯 가지 알파벳을 모음으로 분류합니다. 문자열 my_string이 매개변수로 주어질 때 모음을 제거한 문자열을 return하도록 solution 함수를 완성해주세요.

* 제한사항\
my_string은 소문자와 공백으로 이루어져 있습니다.\
1 ≤ my_string의 길이 ≤ 1,000

```
입출력 예
my_string	        result
"bus"             	"bs"
"nice to meet you"	"nc t mt y"
```

In [3]:
def solution(my_string):
    table = str.maketrans('', '', 'a, e, i, o, u')
    answer = my_string.translate(table)
    return answer

solution('bus')

'bs'

# 문제2 제곱수 판별하기

* 문제 설명\
어떤 자연수를 제곱했을 때 나오는 정수를 제곱수라고 합니다. 정수 n이 매개변수로 주어질 때, n이 제곱수라면 1을 아니라면 2를 return하도록 solution 함수를 완성해주세요.

* 제한사항\
1 ≤ n ≤ 1,000,000

```
입출력 예
n	  result
144	   1
976	   2
```

In [4]:
def solution(n):
    answer = n ** 0.5
    if answer.is_integer():
        return 1
    else:
        return 0

solution(144)

1

In [5]:
def solution(n):
    return 1 if (n ** 0.5).is_integer() else 2


solution(976)

2

# 문제3 배열의 유사도

* 문제 설명\
두 배열이 얼마나 유사한지 확인해보려고 합니다. 문자열 배열 s1과 s2가 주어질 때 같은 원소의 개수를 return하도록 solution 함수를 완성해주세요.

* 제한사항
  * 1 ≤ s1, s2의 길이 ≤ 100
  * 1 ≤ s1, s2의 원소의 길이 ≤ 10
  * s1과 s2의 원소는 알파벳 소문자로만 이루어져 있습니다
  * s1과 s2는 각각 중복된 원소를 갖지 않습니다.

```
입출력 예
s1	                    s2	                 result
["a", "b", "c"]	["com", "b", "d", "p", "c"]	 2
["n", "omg"]	   ["m", "dot"]                	0
```

In [26]:
def solution(s1, s2):
    return len(list(filter(lambda x: x in s1, s2)))

s1 = ['a', 'b', 'c']
s2 = ['com', 'b', 'd', 'p', 'c']
solution(s1, s2)

2

In [27]:
def solution(s1, s2):
    return len(set(s1)&set(s2))

s1 = ["n", "omg"]
s2 = ["m", "dot"]
solution(s1, s2)

0

# 문제4 자릿수 더하기

* 문제 설명\
정수 n이 매개변수로 주어질 때 n의 각 자리 숫자의 합을 return하도록 solution 함수를 완성해주세요

* 제한사항\
0 ≤ n ≤ 1,000,000

```
입출력 예
n	      result
1234	    10
930211	  16
```

In [35]:
def solution(n):
    answer = 0
    l = []
    for i in str(n):
        l.append(i)
    for j in l:
        answer += int(j)
    return answer


solution(1234)

10

In [36]:
def solution(n):
    return sum(int(i) for i in str(n))

solution(123451600)

22

# 문제5 n의 배수 고르기

* 문제 설명\
정수 n과 정수 배열 numlist가 매개변수로 주어질 때, numlist에서 n의 배수가 아닌 수들을 제거한 배열을 return하도록 solution 함수를 완성해주세요.

* 제한사항
  * 1 ≤ n ≤ 10,000
  * 1 ≤ numlist의 크기 ≤ 100
  * 1 ≤ numlist의 원소 ≤ 100,000

```
입출력 예
n	         numlist	                    result
3	 [4, 5, 6, 7, 8, 9, 10, 11, 12]	     [6, 9, 12]
5	 [1, 9, 3, 10, 13, 5]	               [10, 5]
12	[2, 100, 120, 600, 12, 12]         	[120, 600, 12, 12]
```

In [57]:
def solution(n, numlist):
    return list(filter(lambda x: x % n == 0, numlist))

n = 3
numlist = [4, 5, 6, 7, 8, 9, 10, 11, 12]
solution(n, numlist)

[6, 9, 12]

In [58]:
def solution(n, numlist):
    answer = [i for i in numlist if i%n==0]
    return answer

n = 3
numlist = [4, 5, 6, 7, 8, 9, 10, 11, 12]
solution(n, numlist)

[6, 9, 12]