# 어제 복습문제 풀이

In [ ]:
 # 1번 답
 # 1.1
 import time

 def time_decorator(func):
     def wrapper(input_data):
         start_time = time.time()
         result = func(input_data)
         end_time = time.time()
         print(f"함수가 {end_time - start_time} 초가 걸렸습니다.")
         return result
     return wrapper

@time_decorator
def f(data):
    s = 0
    for i in range(data+1):
        s += i
    return s

f(100)

함수가 1.6450881958007812e-05 초가 걸렸습니다.

5050

In [ ]:
 # 1번 답
 # 1.2
 import time

 def time_decorator(func):
     def wrapper():
         start_time = time.time()
         result = func()
         end_time = time.time()
         print(f"함수가 {end_time - start_time} 초가 걸렸습니다.")
         return result
     return wrapper

@time_decorator
def f():
    s = 0
    for i in range(101):
        s += i
    return s

f()

함수가 1.4543533325195312e-05 초가 걸렸습니다.

5050

In [ ]:
# 2번 답

def gen():
    for i in range(0, 101, 2):
        yield i
    return

for i in gen():
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
# 문제 3
# 예외처리 문제: 사용자로부터 두 개의 숫자를 입력받아 나눗셈을 수행하는 함수를 작성하세요.
# 이 때 0으로 나눌 때에는 예외처리를 해주세요.

def divide(x, y):
    try:
        return x / y
    except:
        return 0

divide(1, 0)

0

# 파이썬 버전 업데이트에 따른 변화

* Python 3.5: async await
* Python 3.6: Dict에 순서, f-string, 타입힌트
* Python 3.7: dataclasses
* Python 3.8: 왈러스 연산자(:=)
* Python 3.9: 딕셔너리 결합 연산자(|)
* Python 3.10: match

# 1. 파일 입출력

In [ ]:
# open(파일이름, 파일모드)
f = open('python.txt', 'w') # 파일모드 : r, w, a, r+
f.close()

In [ ]:
# 파일을 열었으면 꼭 닫아야함
# 닫지 않으면 메모리가 살아 있음.
f = open('python.txt', 'w')
f.write('hello world')
f.close()

In [ ]:
# 사용한다면 close를 잊을 때가 많아서 아래 방법을 권고 한다.
for i in range(10):
    with open(f'test{i}.txt', 'w') as f:
        f.write('hello world!')

In [ ]:
db_data = [
  {
    "_id": "7f5440ab-7e2f-4a42-Be13-89987fa65b32",
    "index": "1",
    "name": "등윤상",
    "email": "user-qe89s09@ut.io",
    "phone": "010-3542-7711",
    "country": "키리바시",
    "address": "방학로 74-9",
    "job": "일러스트레이터"
  },
  {
    "_id": "b4f7ade0-38bb-4e6f-B94a-18af1426eb30",
    "index": "2",
    "name": "노동규",
    "email": "user-nyr5mqw@ornare.com",
    "phone": "010-9743-6320",
    "country": "베냉",
    "address": "남부순환로 54-6",
    "job": "애완동물미용사"
  },
  {
    "_id": "5d788255-8d5e-4f03-B446-dbac6a147e37",
    "index": "3",
    "name": "경진아",
    "email": "user-n7pey4v@Etiam.biz",
    "phone": "010-4049-8718",
    "country": "아르메니아",
    "address": "강남대로 87-5",
    "job": "플로리스트"
  },
  {
    "_id": "083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79",
    "index": "4",
    "name": "복소유",
    "email": "user-ohaz2is@nibh.biz",
    "phone": "010-3400-5945",
    "country": "페루",
    "address": "양산로 78-1",
    "job": "응급구조사"
  },
  {
    "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
    "index": "5",
    "name": "화예빈",
    "email": "user-mnkpdlp@vel.net",
    "phone": "010-3120-8720",
    "country": "허드 및 맥도널드 제도",
    "address": "한남대로 6-2",
    "job": "전문의사"
  }
]

In [ ]:
# 미션 1
# 각가의 회원 이름_info.txt로 각각 정보 정리

# 미션 2
# 엑셀로 각각 정보 정리

# 미션 3
# html로 table 정리하기(자바스크립트를 배워야 할 수 잇음.)

In [ ]:
# 미션 1
# 각가의 회원 이름_info.txt로 각각 정보 정리
list(map(lambda x: x['name'], db_data))

for name in enumerate(map(lambda x: x['name'], db_data)):
    with open(f'{name}_info.txt', 'w') as f:
        f.write(str(db_data[i]))

In [ ]:
# 미션 2
# 엑셀로 각각 정보 정리
with open('data.csv', 'w') as f:
    s = '아이디,인덱스,이름,이메일,휴대폰,나라,주소,직업\n'
    for i in db_data:
        s += f'{i["_id"]},{i["index"]},{i["name"]},{i["email"]},{i["phone"]},{i["country"]},{i["address"]},{i["job"]}\n'
    f.write(s)

In [ ]:
# 엑셀라이터
# 워크북(엑셀파일 1개입니다.)
# 워크시트(sheet이라고 아래 여러개의 sheet을 만들 수 있습니다.)
# 셀(네모 칸 하나)

In [ ]:
!pip3 install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.1.9-py3-none-any.whl (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.8/154.8 kB 3.2 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.9

In [ ]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

worksheet.write('A1', 'A')
worksheet.write('B1', 'B')
worksheet.write('C1', 'C')
worksheet.write('A2', 'D')
worksheet.write('B2', 'E')
worksheet.write('C2', 'F')

workbook.close()

In [ ]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

철수 = [10, 20, 30]
영희 = [40, 50, 60]

worksheet.write('A1', '국')
worksheet.write('B1', '영')
worksheet.write('C1', '수')
worksheet.write('A2', 철수[0])
worksheet.write('B2', 철수[1])
worksheet.write('C2', 철수[2])
worksheet.write('A3', 영희[0])
worksheet.write('B3', 영희[1])
worksheet.write('C3', 영희[2])

for i in zip('ABC', 철수, 영희):
    worksheet.write(f'{i[0]}4', i[1] + i[2])

# D1에 평균 텍스트 삽입
worksheet.write('D1', '평균')
# 수식삽입
worksheet.write('D2', '=SUM(A2:C2)/3')
worksheet.write('D3', '=SUM(A3:C3)/3')

workbook.close()

In [ ]:
# 크롤링
# 웹크롤링 -> 엑셀
# 한글파일 크롤링 -> 엑셀
# PDF 크롤링 -> 엑셀

# 파일 형식 변환
# CSV => xlsx
# JSON => xlsx

# 메크로
# 메크로 작동 로직 => 엑셀

In [ ]:
# 미션 3
# html로 table 정리하기(자바스크립트를 배워야 할 수 잇음.)
s = '''
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>
'''
for i, _ in enumerate(db_data):
    s += f'''
        <tr>
            <td>db_date[0]["_id"]</td>
            <td>db_date[0]["index"]</td>
            <td>db_date[0]["name"]</td>
            <td>db_date[0]["email"]</td>
            <td>db_date[0]["phone"]</td>
            <td>db_date[0]["country"]</td>
            <td>db_date[0]["address"]</td>
            <td>db_date[0]["job"]</td>
        </tr>
        '''
s += '</table>'
s

'\n<style>\n    table {\n        border-collapse: collapse;\n        width: 100%;\n        border: 1px solid black;\n    }\n    tr, td, th {\n        border: 1px solid black;\n    }\n</style>\n<table>\n    <tr>\n        <th>아이디</th>\n        <th>인덱스</th>\n        <th>이름</th>\n        <th>이메일</th>\n        <th>휴대폰</th>\n        <th>나라</th>\n        <th>주소</th>\n        <th>직업</th>\n    </tr>\n\n    <tr>\n            <td>db_date[0]["_id"]</td>\n            <td>db_date[0]["index"]</td>\n            <td>db_date[0]["name"]</td>\n            <td>db_date[0]["email"]</td>\n            <td>db_date[0]["phone"]</td>\n            <td>db_date[0]["country"]</td>\n            <td>db_date[0]["address"]</td>\n            <td>db_date[0]["job"]</td>\n        </tr>\n        \n    <tr>\n            <td>db_date[0]["_id"]</td>\n            <td>db_date[0]["index"]</td>\n            <td>db_date[0]["name"]</td>\n            <td>db_date[0]["email"]</td>\n            <td>db_date[0]["phone"]</td>\n            <td>db_date[0]["country"]</td>\n            <td>db_date[0]["address"]</td>\n            <td>db_date[0]["job"]</td>\n        </tr>\n        \n    <tr>\n            <td>db_date[0]["_id"]</td>\n            <td>db_date[0]["index"]</td>\n            <td>db_date[0]["name"]</td>\n            <td>db_date[0]["email"]</td>\n            <td>db_date[0]["phone"]</td>\n            <td>db_date[0]["country"]</td>\n            <td>db_date[0]["address"]</td>\n            <td>db_date[0]["job"]</td>\n        </tr>\n        \n    <tr>\n            <td>db_date[0]["_id"]</td>\n            <td>db_date[0]["index"]</td>\n            <td>db_date[0]["name"]</td>\n            <td>db_date[0]["email"]</td>\n            <td>db_date[0]["phone"]</td>\n            <td>db_date[0]["country"]</td>\n            <td>db_date[0]["address"]</td>\n            <td>db_date[0]["job"]</td>\n        </tr>\n        \n    <tr>\n            <td>db_date[0]["_id"]</td>\n            <td>db_date[0]["index"]</td>\n            <td>db_date[0]["name"]</td>\n            <td>db_date[0]["email"]</td>\n            <td>db_date[0]["phone"]</td>\n            <td>db_date[0]["country"]</td>\n            <td>db_date[0]["address"]</td>\n            <td>db_date[0]["job"]</td>\n        </tr>\n        </table>'

In [ ]:
# 미션 3 다른 방법
s = '''
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>
'''
for item in db_data:
    s += f'''
        <tr>
            <td>{item["_id"]}</td>
            <td>{item["index"]}</td>
            <td>{item["name"]}</td>
            <td>{item["email"]}</td>
            <td>{item["phone"]}</td>
            <td>{item["country"]}</td>
            <td>{item["address"]}</td>
            <td>{item["job"]}</td>
        </tr>
        '''
s += '</table>'

with open('test.html','w') as f:
    f.write(s)

# 2. 비트연산

In [ ]:
# 실무에서 비트연산을 하는 경우가 거~~~의 없습니다.
# 알고리즘 테스트에서 CS지식 정도를 테스트 하는 용도로 간혹 출제가 됩니다.
# 진법: 수학 기초 상식

# 10진법
# 1542 == 1 * (10**3) + 5 * (10**2) + 4 * (10**1) + 2 * (10**0)
# 0123456789 10

# 16진법
# 1542 == 1 * (16**3) + 5 * (16**2) + 4 * (16**1) + 2 * (16**0)
# 0123456789abcdef 10

# 8진법
# 1542 == 1 * (8**3) + 5 * (8**2) + 4 * (8**1) + 2 * (8**0)
# 01234567 10

# 01 10

In [ ]:
3 & 9 # and

# 0011
# 1001
# ----
# 0001

1

In [ ]:
3 | 9 #or

# 0011
# 1001
# ----
# 1011 => 11

11

# 3. f-string

In [ ]:
# print에 들어가는 문자열 만들기

name = '임빈'
age = 10

'제 이름은 %s이고 제 나이는 %d입니다.'%(name, age) # % 용법
'제 이름은 {}이고 제 나이는 {}입니다'.format(name, age) # format 용법(이 문법도 아직 많이 사용합니다.)
f'제 이름은 {name}이고 제 나이는 {age}입니다' # f-string 용법(권고합니다.)

'제 이름은 임빈이고 제 나이는 10입니다'

In [ ]:
삼 = '짝'*3
칠 = '짝'*7
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format(삼,칠))
print(f'삼삼칠 박수 :  {삼}!!! {삼}!!! {칠}!!! ')

삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!

In [ ]:
one_length = 5.343451215

print(f'{one_length}입니다.')
print(f'{one_length:.1f}입니다.') # 소수점 1번째자리까지 출력
print('{0:.2f}'.format(one_length))
print('{:.2f}'.format(one_length))

5.343451215입니다.
5.3입니다.
5.34
5.34

In [ ]:
# log 출력할 때 가운데 정렬은 많이 사용합니다.
age = 100
print('당신의 나이는 [{:^15}]세'.format(22))
print(f'당신의 나이는 [{age:^15}]세') # len = 15로 맞추고 가운데 정렬
print(f'당신의 나이는 [{age:=^15}]세') # len = 15로 맞추고 가운데 정렬 후 남는 공간은 =로 채우기

당신의 나이는 [      22       ]세
당신의 나이는 [      100      ]세
당신의 나이는 [======100======]세

In [ ]:

age = 10

print(f'My set is {{1, 2, 3}}.')    # 출력: My set is {1, 2, 3}.
print(f'My set is {{age*2}}.')      # 출력: My set is {age*2}.
print(f'My set is {{{age*2}}}.')    # 출력: My set is {20}.
# 중괄호 3개는 많이 사용됨. -> 내부 값도 계산하고 중광호도 표현하고 싶을 때 사용

My set is {1, 2, 3}.
My set is {age*2}.
My set is {20}.

In [ ]:
l = []
for i in range(2, 10):
    for j in range(1, 10):
        l.append(f'{i} X {j} = {i * j}')

l

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

In [ ]:
[f'{i} X {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)] # 리스트 컴프리헨션 속도가 for문보다 빠르다.

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

# 4. 비동기와 코루틴

In [ ]:
!pip install nest_asyncio

Requirement already satisfied: nest_asyncio in /usr/local/lib/python3.10/dist-packages (1.5.8)

In [ ]:
import nest_asyncio

nest_asyncio.apply()

In [ ]:
import time

def job(number):
    print(f"Job {number} started")
    time.sleep(1)  # 매우 오래 걸리는 작업, 일반 sleep은 CPU를 쉬게 합니다.
    print(f"Job {number} completed")

job(1)
job(2)
job(3)

Job 1 started
Job 1 completed
Job 2 started
Job 2 completed
Job 3 started
Job 3 completed

In [ ]:
# colab에서 작동하는 코드
# 기본 base는 colab에서 작동하지 않습니다.
import asyncio

async def job(number):
    print(f"Job {number} started")
    await asyncio.sleep(1) # 매우 오래 걸리는 작업, asyncio.sleep은 비동기 처리를 할 수 있도록 합니다.(다른 작업이 가능합니다.)
    print(f"Job {number} completed")

async def main():
    await asyncio.gather(job(1), job(2), job(3)) # await asyncio.wait([job(1), job(2), job(3)])

asyncio.run(main())
print('hello world')

Job 1 started
Job 2 started
Job 3 started
Job 1 completed
Job 2 completed
Job 3 completed
hello world

# 5. 정규표현식

* 유효성 검증(validator)
* 문자열 처리
* 코딩 테스트

In [ ]:
# 일반 문자열 패턴
# 문자열은 대, 소문자를 구분한다.
#^hello : 처음에 hello
#hello$: 끝에 hello
#. : 모든 문자열(*과 같은 역할)
#...... : 모든 6개의 문자열

# 범위 선택
#h[eay]llo : 대괄호 안에 문자는 문자 1개에 해당!
#h[ea]l.. : 총 5개의 문자
#h[a-zA-Z0-9]llo

# ^는 대괄호 안에 있을때는 부정을 의미
#/h[^ae]llo/gm : 대괄호 안에 있다면 not에 의미


# _* : 앞에 있는 문자가 0개 ~ N개
# _+ : 앞에 있는 문자가 1개 ~ N개
# _? : 앞에 있는 문자가 0개 ~ 1개

# {3} : 3개
# {3,} : 3개 이상
# {1,3} : 1개 ~ 3개

# _* : 앞에 있는 문자가 0개 ~ N개 ({0,})
# _+ : 앞에 있는 문자가 1개 ~ N개({1,})
# _? : 앞에 있는 문자가 0개 ~ 1개 ({0,1})

# /[0-9]{3}[-.* ][0-9]{4}[-.* ][0-9]{4}/gm
# /[0-9a-zA-Z]{2,3}[-.* ][0-9]{3,4}[-.* ][0-9]{4}/gm
# /[0-9a-zA-Z]+@[0-9a-zA-Z]+.[a-zA-Z]+/gm

# /\[.*]/gm : 대괄호([]) 안에 감싸여진 문자열
# /\(.*\)/gm : 소괄호 안에 감싸여진 문자열
# /\\.*\//gm : 이미 사용되고 있는 특수문자로 감싸여진 문자열
# /-.*-/gm : 이스케이프 문자를 사용할 필요가 없는 경우
# /\^\^/gm : 이스케이프 문자가 필요한 경우
# /:\)/gm : 이스케이프 문자가 필요한 경우

# /\w/gm : 워드
# /\w{5} /gm : 5개의 글자와 스페이스 하나
# /\W/gm : not 워드
# /\d/gm : 숫자
# /\D/gm : not 숫자
# /\s/gm : 스페이스
# /\S/gm : not 스페이스

In [ ]:
# 사용되는 패턴
# 1
p = re.compile(r'([0-9]|10)([SDT])([\*\#]?)')
p.findall('1S2D*3T')

# 2
re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T')

#자주 사용하는 메서드
# sub() : 매치된 부분을 치환 (str에 replace와 같은 역활)
# findall() : 매치된 부분 모두 리스트 반환

NameError: name 're' is not defined

### findall

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/17682
# 1S // 2d* // 3T
# 스타상 아차상은 빼고 진행

l = []
for i in '1S2D*10T':
    if i.isdigit():
        l.append(int(i))
    elif i == 'S':
        l[-1] = l[-1] ** 1
    elif i == 'D':
        l[-1] = l[-1] ** 2
    elif i == 'T':
        l[-1] = l[-1] ** 3
sum(l)

32

In [ ]:
import re

list(re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T'))

[('1', 'S', ''), ('2', 'D', '*'), ('3', 'T', '')]

### sub

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120849

In [ ]:
"nice to meet you".replace('a','').replace('e','').replace('i', '').replace('o', '').replace('u', '')

'nc t mt y'

In [ ]:
# 복습 X
# dir("nice to meet you")
s = "nice to meet you"
ch = s.maketrans("aeiou", "!!!!!");

print(s.translate(ch));

n!c! t! m!!t y!!

In [ ]:
import re
s = "nice to meet you"
def solution(my_string):
    return re.sub(r"[aeiou]", "", my_string)

solution(s)

'nc t mt y'

In [ ]:
import re

my_string = "aAb1B2cC34oOp"
re.sub('[^1-9]', '', my_string)

'1234'

In [ ]:
import re

my_string = "aAb1B2cC34oOp"
re.sub('\d', '', my_string)

'aAbBcCoOp'

In [ ]:
# 복습 XXX
import re

print(re.sub(r'(?P<one>[0-9]{3})-(?P<two>[0-9]{4})-(?P<three>[0-9]{4})', r'\g<one>!!\g<two>!!\g<three>', '010-5000-3000'))

010!!5000!!3000

In [ ]:
import re

text = '''# This is a h1
## This is a h2
### This is a h3
#### This is a h4
##### This is a h5
###### This is a h6

* This is a bulleted list
  * This is a nested bulleted list

**This is bold text**

_This is italic text_

~~This text is strikethrough~~
'''

def markdown_to_html(markdown):
    html = re.sub(r'### (.*)', r'\1', markdown)
    html = re.sub(r'## (.*)', r'\1', html)
    html = re.sub(r'# (.*)', r'\1', html)
    html = re.sub(r'`(.*)`', r'\1', html)
    html = re.sub(r'\*\*(.*)\*\*', r'\1', html)
    html = re.sub(r'_(.*)_', r'\1', html)
    html = re.sub(r'~~(.*)~~', r'\1', html)
    html = re.sub(r'^(>+) (.*)', r'\1\2', html)
    # html = re.sub(r'^\* (.*)', r'\1', html, flags=re.M+re.S)
    return html

print(markdown_to_html(text))

This is a h1
This is a h2
This is a h3
#This is a h4
##This is a h5
###This is a h6

* This is a bulleted list
  * This is a nested bulleted list

This is bold text

This is italic text

This text is strikethrough

In [ ]:
import re

text = '''# This is a h1
## This is a h2
### This is a h3

**This is bold text**
'''

def markdown_to_html(markdown):
    html = re.sub(r'### (.*)', r'<h3>\1<h3>', markdown)
    html = re.sub(r'## (.*)', r'<h2>\1<h2>', html)
    html = re.sub(r'# (.*)', r'<h1>\1</h1>', html)
    html = re.sub(r'\*\*(.*)\*\*', r'<strong>\1</strong>', html)
    return html

print(markdown_to_html(text))

<h1>This is a h1</h1>
<h2>This is a h2<h2>
<h3>This is a h3<h3>

<strong>This is bold text</strong>