In [ ]:
# 문제 1_다음 코드를 실행하면 출력되는 값을 순서대로 작성해보세요.
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')

    print('I') # 1번
    함수2() #2번
    return "python" #3번


a = 함수1()
print(a)

# I -> love -> python

I
love
python

In [ ]:
# 문제 2_함수를 이용하여 계산기 프로그램을 만들어주세요.
def plus(num1, num2):
    puls = num1 + num2
    return puls

def minus(num1, num2):
    minus = num1 - num2
    return minus

def multiply(num1, num2):
    multiply = num1 * num2
    return multiply

def divide(num1, num2):
    if num2 != 0:
        divide = num1 / num2
        return divide
    else:
        return "0으로 나눌 수 없습니다."

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

In [ ]:
# 문제 3_
'''
2번의 해답을 이용하여 a와 b를 더한 값과 a와 b를 뺀 값을 곱하는 함수를 만들어주세요.
아래와 같은 값이 있다면 (2 + 3) * (2 - 3) = -5가 출력이 되어야 합니다.
'''
# 함수 정의
def f(a = 2, b = 3):
    c = (a + b) * (a - b)
    return c

print(f(a, b))

-5

In [8]:
# 문제 4_
'''
x의 n제곱을 구하는 함수를 만들어주세요.
재귀함수를 이용하여 만들어야하며, x은 0이 아닙니다. (x, n > 1)
'''
# 함수 정의
def f(x, n):
    x = x ** n
    return x

print(f(3, 3))

27

In [10]:
# 문제 5_ 이 데이터에서 licat을 출력해주세요.
# 단, 직접 접근은 안됩니다. data[1]로 접근하는 것은 안됩니다.

data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]

for item in data:
    if 'licat' in item[0]:
        print('licat')

licat

In [30]:
# 문제 6_ 다음 함수 is_palindrome를 완성하시오.
# 이 함수는 하나의 문자열을 인자로 받아, 해당 문자열이 앞으로 읽으나
# 뒤로 읽으나 같은 단어이면 True를, 아니면 False를 반환해야 합니다.

def is_palindrome(s):
    if list(s) == list(reversed(s)):
        return True
    else:
        return False

print(is_palindrome('기러기'))
print(is_palindrome('안녕하세요'))

True
False

In [39]:
# 문제 7_ 리스트 numbers가 주어졌을 때, 이 리스트 내의 모든 짝수를 제거하는 코드를 작성하시오.

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

def remove_even(nums):
    new_numbers = []
    for num in nums:
        if num % 2 != 0:
            new_numbers.append(num)
    return new_numbers

numbers = remove_even(numbers)
print(numbers)  # 결과: [3, 5, 7, 9]

# 답안 참고
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers = list(filter(lambda x:x % 2 == 1, numbers))
print(numbers)

[3, 5, 7, 9]
[3, 5, 7, 9]