# 문제1 순서쌍의 개수

* 문제 설명\
순서쌍이란 두 개의 숫자를 순서를 정하여 짝지어 나타낸 쌍으로 (a, b)로 표기합니다. 자연수 n이 매개변수로 주어질 때 두 숫자의 곱이 n인 자연수 순서쌍의 개수를 return하도록 solution 함수를 완성해주세요.

* 제한사항\
1 ≤ n ≤ 1,000,000

```
입출력 예
n	 result
20	   6
100	  9
```

In [7]:
def solution(n):
    count = 0

    for i in range(1, int(n ** 0.5) + 1):
        if n % i == 0:
            count += 2 if i != n // i else 1

    return count

solution(100)

9

# 문제2 옷가게 할인 받기

* 문제 설명\
머쓱이네 옷가게는 10만 원 이상 사면 5%, 30만 원 이상 사면 10%, 50만 원 이상 사면 20%를 할인해줍니다.\
구매한 옷의 가격 price가 주어질 때, 지불해야 할 금액을 return 하도록 solution 함수를 완성해보세요.

* 제한사항\
10 ≤ price ≤ 1,000,000\
price는 10원 단위로(1의 자리가 0) 주어집니다.\
소수점 이하를 버린 정수를 return합니다.

```
입출력 예
price	  result
150,000	142,500
580,000	464,000
```

In [14]:
def solution(price):
    if price >= 500000:
        return int(price * 0.8)
    elif price >= 300000:
        return int(price * 0.9)
    elif price >= 100000:
        return int(price * 0.95)
    else:
        return price

solution(150000)

142500

In [16]:
def solution(price):
    discount_rates = {500000: 0.8, 300000: 0.9, 100000: 0.95, 0: 1}
    for discount_price, discount_rate in discount_rates.items():
        if price >= discount_price:
            return int(price * discount_rate)

solution(580000)

464000