# 문제 1

* 문제 설명\
정수 num과 n이 매개 변수로 주어질 때, num이 n의 배수이면 1을 return n의 배수가 아니라면 0을 return하도록 solution 함수를 완성해주세요.


* 제한사항\
2 ≤ num ≤ 100\
2 ≤ n ≤ 9

```
입출력 예
num      n	result
98	   2	  1
34	   3      0
```

In [3]:
def solution(num, n):
    answer = num % n == 0
    return int(answer)

solution(98, 2)
solution(32, 3)

0

# 문제 2 공배수

* 문제 설명\
정수 number와 n, m이 주어집니다. number가 n의 배수이면서 m의 배수이면 1을 아니라면 0을 return하도록 solution 함수를 완성해주세요.

* 제한사항\
10 ≤ number ≤ 100\
2 ≤ n, m < 10

* 입출력 예 설명\
입출력 예 #1\
60은 2의 배수이면서 3의 배수이기 때문에 1을 return합니다.\
입출력 예 #2\
55는 5의 배수이지만 10의 배수가 아니기 때문에 0을 return합니다.

In [5]:
def solution(number, n, m):
    answer = number % n == 0 and number % m == 0
    return int(answer)

solution(60, 2, 3)
solution(55, 10, 5)

0

# 문제 3 flag에 따라 다른 값 반환하기

* 문제 설명\
두 정수 a, b와 boolean 변수 flag가 매개변수로 주어질 때, flag가 true면 a + b를 false면 a - b를 return 하는 solution 함수를 작성해 주세요.

* 제한사항\
\-1,000 ≤ a, b ≤ 1,000

* 입출력 예\
입출력 예 #1\
예제 1번에서 flag가 true이므로 a + b = (-4) + 7 = 3을 return 합니다.\
입출력 예 #2\
예제 2번에서 flag가 false이므로 a - b = (-4) - 7 = -11을 return 합니다.

In [11]:
def solution(a, b, flag):
    if flag == True:
        answer = a + b
        return answer
    else:
        answer = a - b
        return answer

solution(-4, 7, False)
solution(-4, 7, True)

3

# 문제 4 홀짝에 따라 다른 값 반환하기

* 문제 설명\
양의 정수 n이 매개변수로 주어질 때, n이 홀수라면 n 이하의 홀수인 모든 양의 정수의 합을 return 하고 n이 짝수라면 n 이하의 짝수인 모든 양의 정수의 제곱의 합을 return 하는 solution 함수를 작성해 주세요.


* 제한사항\
1 ≤ n ≤ 100

```
입출력 예
n	result
7	  16
10	220
```

In [72]:
def solution(n):
    l = []
    i = 0
    if n % 2 != 0:
        while i <= n:
            if i % 2 != 0:
                l.append(i)
            i += 1
        return sum(l)
    else:
        while i <= n:
            if i % 2 == 0:
                l.append(i ** 2)
            i += 1
        return sum(l)
solution(10)

220

In [75]:
def solution(n):
    return sum(x ** (2 - x % 2) for x in range(n + 1) if n % 2 == x % 2)
solution(7)

16

# 문제 5 원소들의 곱과 합

* 문제 설명\
정수가 담긴 리스트 num_list가 주어질 때, 모든 원소들의 곱이 모든 원소들의 합의 제곱보다 작으면 1을 크면 0을 return하도록 solution 함수를 완성해주세요.

* 제한사항\
2 ≤ num_list의 길이 ≤ 10\
1 ≤ num_list의 원소 ≤ 9

```
입출력 예
num_list	     result
[3, 4, 5, 2, 1]	 1
[5, 7, 8, 3]	    0
```

In [109]:
def solution(num_list):
    reslut = 1
    for i in num_list:
        reslut *= i
        num_mult = reslut
    num_sum = sum(num_list) ** 2
    if num_mult < num_sum:
        return 1
    else:
        return 0

solution([3, 4, 5, 2, 1])

1

In [110]:
def solution(num_list):
    s = sum(num_list) ** 2
    m = eval('*'.join([str(n) for n in num_list]))
    return 1 if s > m else 0

solution([3, 4, 5, 2, 1])

1

In [111]:
def solution(num_list):
    mul = 1
    for n in num_list:
        mul *= n
    return int(mul < sum(num_list) ** 2)

solution([3, 4, 5, 2, 1])

1