# 본교육 3일차 복습

## 1. input, output 활용

In [ ]:
# 1가지 변수
x = input('본교육 __일차 복습:' ' ')

# 결과 출력
print(f"본교육 {x}일차 복습")

본교육 __일차 복습: 3
본교육 3일차 복습

In [ ]:
# 2가지 변수
word1 = input('___은 어려우니:' ' ')
word2 = input('열심히 ___해야한다:' ' ')

# 결과 출력
print(f'{word1}은 어려우니 열심히 {word2}해야한다.')

___은 어려우니: 코딩
열심히 ___해야한다: 복습
코딩은 어려우니 열심히 복습해야한다.

## 2. RANDOM

### 2.1 randrange 활용

In [ ]:
# randrange

# random을 불러오기
import random

# 0 ~ 10까지 임의 선택하는 코드 작성
num1 = random.randrange(11)

# 1번 결과 출력
print("1. 임의 선택", num1)

# 10 ~ 50까지 임의 선택하는 코드 작성
num2 = random.randrange(10, 50)

# 2번 결과 출력
print("2. 임의 선택", num2)

# 10 ~ 200까지 10씩 건너띄어 임의 선택하는 코드 작성
num3 = random.randrange(10, 200, 10)

# 3번 결과 출력
print("3. 임의 선택", num3)

1. 임의 선택 3
2. 임의 선택 21
3. 임의 선택 10

### 2.2 choice 활용

In [ ]:
# choice를 활용한 술래 뽑기

# random 불러오기
import random

# 참여인 리스트 작성
person1 = ['창균', '승은', '학준', '지호']

# 무작위 선택
choice_person1 = random.choice(person1)

# 결과 출력
print("술래는:", choice_person1)

술래는: 지호

## 3. 변수

### 3.1 변수 할당 및 재할당, 삭제

In [ ]:
# 변수 할당
x = 10

# 출력
print(x)

10

In [ ]:
# 변수 재할당 _기존의 변수가 할당 되어 있어도 다시 할당할 시 변수값이 변경됨.
x = 20

# 출력
print(x)

20

In [ ]:
# 변수 삭제_변수 삭제 시 할당 되어진 값이 없어짐.
del(x)

print(x)

NameError: ignored

## 4. 정수 int

In [ ]:
# 정수 사칙연산

x = 10
y = 20

# 덧셈
print(x + y)

# 뺄셈
print(x - y)

# 곱셈
print(x * y)

# 나눗셈
print(x / y) #실수형으로 값이 나옴
print(int(x / y)) #정수형으로 값이 나옴

30
-10
200
0.5
0

In [ ]:
# 진수 표현

x = 10
# 10진법 출력
print(x)

# 2진법 출력
print(bin(x))

# 8진법 출력
print(oct(x))

# 16진법 출력
print(hex(x))

# 각 진법 에서 10진법으로 변경 출력
print(int("0b1010", 2)) # 2진법 -> 10진법
print(int("0o12", 8))   # 8진법 -> 10진법
print(int("0xa", 16))   # 16진법 -> 10진법

10
0b1010
0o12
0xa
10
10
10

## 5. 실수 float

In [ ]:
# 실수 사칙연산

x = 10.5
y = 20.3

# 덧셈
print(x + y)

# 뺄셈
print(x - y)

# 곱셈
print(x * y)

# 나눗셈
print(x / y)

30.8
-9.8
213.15
0.5172413793103449

In [ ]:
# float 특수값_무한대 inf

# 변수에 무한대(inf) 값 할당
x = float("inf")
y = float("-inf")

# 결과 출력
print(x, y)

# type 확인
print(type(x))
print(type(y))

inf -inf
<class 'float'>
<class 'float'>

In [3]:
# 부동소수점
# 컴퓨터의 2진법으로 인한 변환 오류

# 부동소수점 문제
x_test = 0.1
y_test = 0.2
print(x_test + y_test)

# 부동소수점 문제 해결법

# decimal 불러오기
import decimal
# float(decimal.Decimal())로 사용
float(decimal.Decimal('.1') + decimal.Decimal('.2'))

0.30000000000000004

0.3

## 6. 복소수 complex

In [10]:
# 복소수 표현

x1 = 3 + 4j # 실수 + 허수(j)
x2 = complex(3,4) # 실수, 허수

print(x1, x2)

# 복소수의 실수부분 출력
print(x1.real) # 출력 : 3.0 (float 실수형으로 표현됨.)

# 복소수의 허수부분 출력
print(x1.imag) # 출력 : 4.0 (float 실수형으로 표현됨.)

print(type(x1.real))
print(type(x1.imag))

(3+4j) (3+4j)
3.0
4.0
<class 'float'>
<class 'float'>