In [ ]:
def hello():
    '''
    DocString
    주석은 여기에 달기!
    '''
    pass

In [ ]:
print(type(hello)) # 함수도 class

<class 'function'>

In [ ]:
a = 10
# a는 int에 인스턴

In [ ]:
l = [a, a, a]
l[2]

10

In [ ]:
# 비효율 코드
sum(list(range(1000))) # 메모리가 많이 쓰임 -> 형태 변환이 한번 이루어짐으로

# 효율적 코드
sum(range(1000))

499500

In [ ]:
print('hello world')# built-in fuction

hello world

# 1. lambda의 응용

* 같이 많이 사용하는 명령어
1. map - lambda
2. filter - lambda
3. sorted - lambda

In [ ]:
# 코드가 이해가 안된다면 이해하는 것보다 예제를 많이 만들어보는 것을 권장

True

## 1.1 map - lambda

In [ ]:
# 재사용을 하기에 용이
# 수식이 복잡했을 때 사용하기 좋음.
def 제곱(x):
    return x ** 2

list(map(제곱, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
# 재사용 되지 않음.
# 실무에서는 lambda가 많이 사용됨.
# map과 쌍을 많이 이룸!
# 수식이 복잡해지면 사용하기 힘듬.
list(map(lambda x: x ** 2, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
# lambda + 3항 연산자를 많이 사용
x = 10
y = True if x % 2 == 0 else False

y

True

In [ ]:
# lambda + 3항 연산자
list(map(lambda x: True if x ** 2 == 0 else False, [1, 2, 3, 4])) # 마스킹, 필터링

[False, False, False, False]

In [ ]:
# 마스킹 사용의 효율성
# 알고리즘 문제에서
# [True, False,, False, False, True]

In [ ]:
# 마스킹의 예
# 에라토스테네스의 체(마스킹의 효율성) => 소수 찾기

In [ ]:
# 마스킹을 사용하지 않았을 때의 식
for i in range(2, 31):
    if 101 % i == 0:
        print('소수아님!')
        break
else: # else 대신 then으로 하자라는 논의가 활발했습니다. => 그러나 else가 이겼습니다.
    print('소수임')

소수임

## 1.2 lambda - filter

In [ ]:
# lambda - filter
# list(filter(lambda x: x % 2 == 0, range(100))) # 2배수만 출력
list(filter(lambda x: x % 2, range(100))) # 홀수 출력

# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# x == 0일때 => lambda x: x % 2 => 0 => False 로 평가
# x == 1일때 => lambda x: x % 2 => 1 => True 로 평가
# x == 2일때 => lambda x: x % 2 => 0
# x == 3일때 => lambda x: x % 2 => 1
# x == 4일때 => lambda x: x % 2 => 0
# x == 5일때 => lambda x: x % 2 => 1
# x == 6일때 => lambda x: x % 2 => 0

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [ ]:
list(filter(lambda x: True if x % 3 == 0 or x % 5 == 0 else False, range(100)))

[0,
 3,
 5,
 6,
 9,
 10,
 12,
 15,
 18,
 20,
 21,
 24,
 25,
 27,
 30,
 33,
 35,
 36,
 39,
 40,
 42,
 45,
 48,
 50,
 51,
 54,
 55,
 57,
 60,
 63,
 65,
 66,
 69,
 70,
 72,
 75,
 78,
 80,
 81,
 84,
 85,
 87,
 90,
 93,
 95,
 96,
 99]

In [ ]:
test = lambda i : i % 2 == 0
[test(i) for i in range(10)]

[True, False, True, False, True, False, True, False, True, False]

## 1.3 sorted - lambda

In [ ]:
sorted([1, 2, 3, 4, 5])
# 왜 sorted만 자료형으로 주나요?
# reversed나 map, filter나 이런건 모두 메모리 주소를 가리키는데!?
# 정답: (추후에 심화 과정에서 강의합니다.) 메모리의 효율성 때문입니다.
# sorted만 비효율을 감수하고 사용자가 보기 편한 자료형으로 반환합니다.

[1, 2, 3, 4, 5]

In [ ]:
# sorted - lambda
l = [10, 20, 5, 4, 22, 32, 5, 9, 11]
l.sort() # sort는 원본을 변경시킴 -> 많이 사용하지 않음,
l

[4, 5, 5, 9, 10, 11, 20, 22, 32]

In [ ]:
l = [10, 20, 5, 4, 22, 32, 5, 9, 11]
print(sorted(l)) # 원본을 변경시키지 않음. -> 많이 사용됨.
l

[4, 5, 5, 9, 10, 11, 20, 22, 32]

[10, 20, 5, 4, 22, 32, 5, 9, 11]

In [ ]:
sorted() # key, reverse 옵션을 많이 사용
# 알고리즘 문제에서 단골로 나옴
# 최댓값, 최솟값

In [ ]:
# 아래와 같은 형식으로 반별 점수가 주어진다.

반별점수 = [
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
]

In [ ]:
반별점수 = [
    ['승은', 30, 46, 80],
    ['주원', 50, 90, 60],
    ['승우', 35, 80, 73],
    ['승엽', 90, 50, 35],
]

In [ ]:
sorted(반별점수) # 값이나 0번째 값 기준으로 정렬
# 한글, 알파벳 순일 경우 유니코드표 순서 대로 정렬

[['승엽', 90, 50, 35],
 ['승우', 35, 80, 73],
 ['승은', 30, 46, 80],
 ['주원', 50, 90, 60]]

In [ ]:
def 함수(x):
    return x[3]

sorted(반별점수, key=함수) # key함수의 return값대로 정렬한다.

'''
[['승엽', 90, 50, 35], => 35
 ['주원', 50, 90, 60], => 60
 ['승우', 35, 80, 73], => 73
 ['승은', 30, 46, 80]] => 80
'''

[['승엽', 90, 50, 35],
 ['주원', 50, 90, 60],
 ['승우', 35, 80, 73],
 ['승은', 30, 46, 80]]

In [ ]:
# 문제: 영어 점수대로 출력해주세요
sorted(반별점수, key= lambda x: x[2])

[['승은', 30, 46, 80],
 ['승엽', 90, 50, 35],
 ['승우', 35, 80, 73],
 ['주원', 50, 90, 60]]

In [ ]:
# 문제: 국, 영, 수 평균 점수 대로 출력해주세요
sorted(반별점수, key= lambda x: sum(x[1:]), reverse=True)
# 내림차순으로 정렬, 높은 점수가 앞으로

[['주원', 50, 90, 60],
 ['승우', 35, 80, 73],
 ['승엽', 90, 50, 35],
 ['승은', 30, 46, 80]]

In [ ]:
# 문제: 동점자인 경우 수학점수를 우선순위로
반별점수2 = [
    ['승은', 50, 50, 50],
    ['주원', 45, 50, 55],
    ['승우', 60, 35, 95],
    ['승엽', 50, 40, 60],
]
# sorted(반별점수2, key= lambda x: (x[1] + x[2] + x[3]), reverse=True )
'''
출력
[['승우', 60, 35, 95],
 ['승은', 50, 50, 50],
 ['주원', 45, 50, 55],
 ['승엽', 50, 40, 60]]
'''
# 평균이 같을 때 수학점수가 높은 순
sorted(반별점수, key= lambda x: (x[1] + x[2] + x[3], x[3]), reverse=True )
'''
출력
[['승우', 60, 35, 95],
 ['승엽', 50, 40, 60],
 ['주원', 45, 50, 55],
 ['승은', 50, 50, 50]]
 '''

[['승우', 60, 35, 95],
 ['승엽', 50, 40, 60],
 ['주원', 45, 50, 55],
 ['승은', 50, 50, 50]]

In [ ]:
우편번호 = [
    {
        '주소': '경기도 용인시',
        '우편번호': 321
    },
    {
        '주소': '경기도 수원시',
        '우편번호': 355
    },
    {
        '주소': '제주특별자치도 제주시',
        '우편번호': 333
    }
]

# sorted(우편번호) #error, 비교를 할 수 없다!?
sorted(우편번호, key=lambda x: x['우편번호'])

# 우편번호 = [
#     {
#         '주소': '경기도 용인시',
#         '우편번호': 321
#     }, => 321
#     {
#         '주소': '경기도 수원시',
#         '우편번호': 355
#     }, => 355
#     {
#         '주소': '제주특별자치도 제주시',
#         '우편번호': 333
#     } => 333
# ]

[{'주소': '경기도 용인시', '우편번호': 321},
 {'주소': '제주특별자치도 제주시', '우편번호': 333},
 {'주소': '경기도 수원시', '우편번호': 355}]

In [ ]:
# 직선에 있는 점의 좌표입니다.
# 점과 점 사이가 가장 짧은 점의 쌍을 출력하세요

# 입력값 : s = [1, 3, 4, 8, 13, 17, 20]

s = [1, 3, 4, 8, 13, 17, 20]

# zip과 슬라이싱으로 묶기
x = list(zip(s, s[1:]))

# sorted로 오름차순으로 정렬
sorted(x, key= lambda x: x[1] - x[0])

# 가장 앞에 인덱스 출력하기
sorted(x, key= lambda x: x[1] - x[0])[0]

(3, 4)

In [ ]:
# zip에 순서 만드는 방법 1_많이 사용함,
# 아직 제너레이터를 배우지 않았음.
# 제너레이터 생성
def gen():
    i = 1
    while True:
        yield i
        i += 1
# zip 만들기
list(zip(gen(), 'hallo', 'world'))

[(1, 'h', 'w'), (2, 'a', 'o'), (3, 'l', 'r'), (4, 'l', 'l'), (5, 'o', 'd')]

In [ ]:
# zip에 순서 만드는 방법 2
list(enumerate(zip('hallo', 'world')))

[(0, ('h', 'w')),
 (1, ('a', 'o')),
 (2, ('l', 'r')),
 (3, ('l', 'l')),
 (4, ('o', 'd'))]

In [ ]:
values = ['A', 'B', 'C', 'D']
print(list(enumerate(values)))
print(list(enumerate(values, 1))) # 시작값 넣는 것 많이 사용합니다. 기억해두세요.

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]

# 2. built-in function에서 많이 사용하는 것

* map
* filter
* zip
* format
* len
* sum
* all / any
* chr(유니코드) / ord

In [ ]:
# 실제 Django에서 사용하는 코드

class Notice:
    '''
    게시물 클래스
    '''
    def __init__(self, title, contents):
        self.title = title
        self.contents = contents

    def __str__(self):
        return self.title

    def __repr__(self):
        '''
        repr이라는 값은 정해져있는 이름!
        __는 호출할 수 있는 값에만 붙어 있음.
        '''
        return f'{self.title}, {self.contents}'

    def __len__(self):
        return len(self.title + self.contents)

게시물1 = Notice('파이썬 이렇게 어려운줄 몰랐다!', '내가 알던 파이썬이 아니야....')
게시물2 = Notice('Django는 이렇게 재미있을 줄 몰랐다!', '파이썬을 잘 못해서 내가 할 수 있을까 생각이 들었는데...')
len

In [ ]:
print(게시물1) # 로그로 출력할 때
repr(게시물1)

파이썬 이렇게 어려운줄 몰랐다!

'파이썬 이렇게 어려운줄 몰랐다!, 내가 알던 파이썬이 아니야....'

# 3. match

* 3.10버전이기 때문에 현업에서 거의 사용 못함.
* 예를 들어 속도가 매우 빨라야 하는 프로젝트를 했을 때
* 모두가 최신버전일때 사용할 수 있음.(버전 다운하면 실행 안됨)

In [ ]:
요일 = 3
match 요일:
    case 0:
        print('일요일')
    case 1:
        print('월요일')
    case 2:
        print('화요일')
    case 3:
        print('수요일')
    case 4:
        print('목요일')
    case 5:
        print('금요일')
    case 6:
        print('토요일')
    case _:
        print('요일 없음')
# 빠져나올때 break가 없어도 됨.

수요일

In [ ]:
'''
요일 = 3
match 요일:
    case 0:
        print('일요일')
        break          # 없어도 됨.
    case 1:
        print('월요일')
    case 2:
        print('화요일')
    case 3:            # case 3와 4를 같이 명시 할 수 없음 -> 다른 문법에선 가능함.
    case 4:
        print('목요일')
    case 5:
        print('금요일')
    case 6:
        print('토요일')
'''

In [ ]:
# match없는 실무에서 많이쓰는 코드
def 요일반환(요일):
    return{
        0: '일요일',
        1: '월요일',
        2: '화요일',
        3: '수요일',
    }.get(요일, '요일없음')

요일반환(2)
요일반환(100)

'요일없음'

In [ ]:
# match 예시
text = '1'
match text:
    case '1' | '2':
        print('1, 2')
    case _:
        print('No Match')

1, 2